body {
  font-family: "Arial", sans-serif;
  text-align: center;
}
h1 {
		color: blue;
		font-size: 50px;
	}
	#box1, #box2, #box3, #box4, #box5,
	#box6, #box7, #box8, #box9 {
		width: 70px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
    background-color: aquamarine;
	}
	#button {
		box-sizing: border-box;
		width: 100px;
		height: 100px;
    cursor: pointer;
		border: 1px solid black;
		margin: auto;
		border-radius: 4px;
		background-color: blue;
		color: white;
		font-size: 25px;
	
	}

	#printResult {
		color: red;
		font-size: 45px;
	}
	#container {
		text-align: center;
	}
